<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Araç Paylaşımı</title>
        <link rel="stylesheet" href="/static/anasayfa.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
<!--İlk kısım-->
        <div class="header">
            <nav>
                <img src="/static/logo.png" class="logo">
                <ul class="nav-links" >
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="harita">Araç Bul</a></li>
                    <li><a href="#">Biz Kimiz?</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                </ul>
                <a href="giriş" class="register-btn">Giriş</a>
            </nav>
            <div class="container">
                <h1>Araç Paylaşımında<br>Yerini Al</h1>
                <a href="araç bul" class="exp-btn">Şimdi Keşfet &#8594;</a>
            </div>
            </div>
<!--offer-->
            <div class="offer">
                <div class="small-container">
                    <div class="row">
                    <div class="col-1">
                        <img src="/static/dashboard.jpg" class="offer-img">
                    </div>
                    <div class="col-1">
                        <h1>Artık Kullandıkça Kazanıyoruz!</h1><br>
                        <p>Artık yaptığınız her 3 saat ve üzeri kullanımlarda bir sonraki yolculuğunuz için %10'a kadar indirim elde etme fırsatını kaçırmayın.</p>
                        <a href="araç bul" class="exp-btn">Şimdi Keşfet &#8594;</a>
                    </div>
                </div>
                </div>
            </div>

<!--referanslar-->
        <div class="testimonial">
            <div class="small-container">
                <h4 class="title">Referanslar</h4>
                <div class="row2">
                    <div class="col-2">
                        <p>Toplu taşımanın yetmediği durumlarda TÜBİTAK-Davutpaşa arasında kullandığım, güvenilir bir araç paylaşımı sistemi.</p>
                        <img src="/static/ali.jpg">
                        <h3>Ali Görçin</h3>
                    </div>
                    <div class="col-2">
                        <p>Özellikle FOTONİK çalıştaylarına giderken kullandığım, müşterisine değer veren araç paylaşımı sistemi.</p>
                        <img src="/static/özlem.jpg">
                        <h3>Özlem Ünverdi</h3>
                    </div>
                    <div class="col-2">
                        <p>Derslere yetişmek için eşimle birlikte çok sık tercih ettiğimiz, 4x4 olmasada 4/4 araç paylaşımı sistemi.</p>
                        <img src="/static/nurhan.jpg">
                        <h3>Nurhan Türker Tokan</h3>
                    </div>
                </div>
            </div>
        </div>
<!--markalar-->
        <div class="brand">
            <div class="small-container">
                <h5 class="title2">Anlaşmalı Markalar</h5>
                <div class="row">
                    <div class="col-3">
                        <img src="/static/bmw.png">
                    </div>
                    <div class="col-3">
                        <img src="/static/mercedes.png">
                    </div>
                    <div class="col-3">
                        <img src="/static/ferrari.png">
                    </div>
                    <div class="col-3">
                        <img src="/static/renault.png">
                    </div>
                    <div class="col-3">
                        <img src="/static/landrover.png">
                    </div>
                </div>
            </div>
<!--alt bilgi-->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col-1">
                            <h3>Download Our App</h3>
                            <p>Araç paylaşımı sistemini cebinize taşıyoruz! <br> Yeni uygulamamız çok yakında <br> Google Play ve Apple Store'da.</p>
                        </div>
                        <div class="footer-col-3">
                            <h3>Useful Links</h3>
                            <ul>
                                <li>Coupons</li>
                                <li>Blog Post</li>
                                <li>Return Policy</li>
                                <li>Join</li>
                            </ul>
                        </div>
                        <div class="footer-col-4">
                            <h3>Bizi Takip Edin!</h3>
                            <ul>
                                <li>Facebook</li>
                                <li>Twitter</li>
                                <li>Instagram</li>
                                <li>Youtube</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            
    </body>
</html>