<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Araba 1 - Araç Paylaşımı</title>
        <link rel="stylesheet" href="/static/araç bul.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
<!--header-->
        <div class="header">
            <nav>
                <img src="/static/logo.png" class="logo">
                <ul class="nav-links" >
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="harita">Araç Bul</a></li>
                    <li><a href="#">Biz Kimiz?</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                </ul>
                <a href="giriş" class="register-btn">Giriş</a>
            </nav>
        </div>
<!--içerik-->
    <div class="small-container single-product">
        <div class="rov">
                <div class="col-2">
                    <p>2022 model benzinli araç</p>
                    <h1>Mercedes Benz Yeni C 200 4MATIC</h1>
                        <div>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>25 değerlendirme</span>
                        </div>
                    <img src="/static/araba2.jpg" width="100%" id="">
                </div>
            <div class="col-2">
                <h3>Araç Detay</h3>
                <p>sdfghjkl ertyuıol tyuıjklş wertyuıjko</p>
                <div class="deneme">
                    <p>Seyahat sürenizi seçiniz. </p>
                    <select id="sure">
                        <option value="0.9">Dakikalık</option>
                        <option value="50">Saatlik</option>
                        <option value="1200">Günlük</option>
                    </select>
                    <input id="number" type="number" value="1">
                    <p>Seyahat sigortası istiyor musunuz? </p>
                    <div class="sigorta" id="currencies">
                        <div class="item"><input type="radio" name="currency" value="evet" id="evet" checked>Evet</div>
                        <div class="item"><input type="radio" name="currency" value="nosig" id="nosig">Hayır</div>
                    </div>
                    <button class="small-btn" id="discover">Toplamınız</button>
                    <input type="text" name="result" id="result"><br>
                </div>
                    <a href="kiralama" class="btn">Kirala</a>

                </div>
        </div>
    </div>
<!--footer-->
        <div class="footer">
            <div class="container1">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download Our App</h3>
                        <p>Araç paylaşımı sistemini cebinize taşıyoruz! <br> Yeni uygulamamız çok yakında <br> Google Play ve Apple Store'da.</p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Bizi Takip Edin!</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Youtube</li>
                         </ul>
                    </div>
                </div>
            </div>
         </div>
    </body>
<!--javascript-->

     <script>
        const rate = 0.9;
        const sure = document.getElementById('sure');
        const number = document.getElementById('number');
        const evet = document.getElementById('evet');
        const nosig = document.getElementById('nosig');
        const discover = document.getElementById('discover');
        const result = document.getElementById('result');
    
        discover.addEventListener('click', function(e) {
            e.preventDefault();
            if (evet.checked == true) {
                result.value = '₺ ' + Math.round(sure.value*number.value);
            } else {
                result.value = '₺ ' + Math.round(sure.value*rate*number.value*100)/100;
            }
        });
    </script>

</html>