<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> All Products - Araç Paylaşımı</title>
        <link rel="stylesheet" href="/static/araç bul.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
<!--İlk kısım-->
        <div class="header">
            <nav>
                <img src="/static/logo.png" class="logo">
                <ul class="nav-links" >
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="araç bul">Araç Bul</a></li>
                    <li><a href="#">Biz Kimiz?</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                </ul>
                <a href="giriş" class="register-btn">Giriş</a>
            </nav>
        </div>

        <div class="container">
            <div class="list-container">
                <div class="left-col">
                    <p>2022 model yeni seri seçenekleri ile...</p>
                    <h1>Paylaşılan Araçlar Listesi</h1>
                </div>
                <div class="car">
                    <div class="car-img">
                        <img src="/static/araba.jpg">
                    </div>
                    <div class="car-info">
                        <p>2022 model benzinli araç</p>
                        <a href="araba1">Mercedes Benz Yeni C 200 4MATIC</a>
                        <p>sdfghjkjhgfd sadfghjkjhg sdfghjkkjh <br>asdfghjkk asdfghjk aesrdfghjkk waesrdfghjk</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <div class="car-price">
                            <h4>50TL <span>/ hr</span></h4>
                        </div>
                    </div>
                </div>
                <div class="car">
                    <div class="car-img">
                        <img src="/static/araba2.jpg">
                    </div>
                    <div class="car-info">
                        <p>2022 model benzinli araç</p>
                        <a href="araba2">Mercedes Benz Yeni C 200 4MATIC</a>
                        <p>sdfghjkjhgfd sadfghjkjhg sdfghjkkjh <br>asdfghjkk asdfghjk aesrdfghjkk waesrdfghjk</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <div class="car-price">
                            <h4>50TL <span>/ hr</span></h4>
                        </div>
                    </div>
                </div>
                <div class="car">
                    <div class="car-img">
                        <img src="/static/araba4.jpg">
                    </div>
                    <div class="car-info">
                        <p>2022 model benzinli araç</p>
                        <a href="araba3">Mercedes Benz Yeni C 200 4MATIC</a>
                        <p>sdfghjkjhgfd sadfghjkjhg sdfghjkkjh <br>asdfghjkk asdfghjk aesrdfghjkk waesrdfghjk</p>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <div class="car-price">
                            <h4>50TL <span>/ hr</span></h4>
                        </div>
                    </div>
                </div>
                <div class="right-col"></div>
            </div>
        </div>

<!--alt bilgi-->
        <div class="footer">
            <div class="container1">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download Our App</h3>
                        <p>Araç paylaşımı sistemini cebinize taşıyoruz! <br> Yeni uygulamamız çok yakında <br> Google Play ve Apple Store'da.</p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Bizi Takip Edin!</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Youtube</li>
                         </ul>
                    </div>
                </div>
            </div>
         </div>


    </body>
</html>
